amqp==5.3.1
APScheduler==3.11.0
apturl==0.5.2
arabic-reshaper==3.0.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==5.0.1
attrs==25.1.0
bcrypt==3.2.0
billiard==4.2.1
binaryornot==0.4.4
bleach==6.1.0
blinker==1.4
Brlapi==0.8.3
Brotli==1.1.0
celery==5.5.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chartjs==1.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
command-not-found==0.3
cookiecutter==2.6.0
cryptography==42.0.5
cssselect2==0.7.0
cupshelpers==1.0
Cython==3.0.10
dbus-python==1.2.18
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
diff-match-patch==20241021
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-database-url==2.3.0
Django==5.2.9
django-appconf==1.0.6
django-browser-reload==1.12.1
django-celery==3.1.17
django-chartjs==2.3.0
django-compressor==4.4
django-crontab==0.7.1
django-debug-toolbar==6.0.0
django-dotenv==1.4.2
django-easy-audit==1.3.7
django-environ==0.12.0
django-extensions==4.1
django-fastdev==1.8.0
django-filter==24.1
django-import-export==4.3.7
django-jquery==3.1.0
django-jquery-js==3.1.1
django-js-asset==2.2.0
django-pwa==2.0.1
django-quill==0.1.0
django-quill-editor==0.1.40
django-redis==6.0.0
django-rest-framework==0.1.0
django-simple-history==3.8.0
django-storages==1.14.3
django-tailwind==4.2.0
django-weasyprint==2.4.0
django-xhtml2pdf==0.0.4
djangorestframework==3.16.0
dotenv==0.9.9
duplicity==0.8.21
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
fasteners==0.14.1
fontawesome==5.10.1.post1
fontawesomefree==6.5.1
fonttools==4.59.0
future==0.18.2
gprof2dot==2025.4.14
gunicorn==23.0.0
h11==0.14.0
hiredis==3.1.0
html5lib==1.1
httplib2==0.20.2
humanize==4.12.1
idna==3.6
importlib-metadata==4.6.4
ipython==8.25.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.6
keyring==23.5.0
kombu==5.5.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==5.1.0
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==3.0.0
MarkupPy==1.14
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
monotonic==1.6
more-itertools==8.10.0
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.1.2
oscrypto==1.3.0
packaging==24.2
pandas==2.3.3
paramiko==2.9.3
parso==0.8.4
pexpect==4.9.0
pillow==10.2.0
prompt_toolkit==3.0.47
protobuf==3.12.4
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg-pool==3.2.6
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pydicom==2.4.4
pydyf==0.11.0
Pygments==2.18.0
PyGObject==3.42.1
pyHanko==0.22.0
pyhanko-certvalidator==0.26.3
pyjpegls==1.3.0
PyJWT==2.3.0
pymacaroons==0.13.0
pymemcache==4.0.0
PyNaCl==1.5.0
pyparsing==2.4.7
pypdf==4.1.0
pyphen==0.17.2
pypng==0.20220715.0
pyRFC3339==1.1
python-apt==2.4.0+ubuntu4.1
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.2.0
python-dotenv==1.1.0
python-memcached==1.62
python-slugify==8.0.4
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.1
qrcode==7.4.2
rcssmin==1.1.1
redis==5.2.1
reportlab==4.0.9
requests==2.31.0
rich==13.9.4
rjsmin==1.2.1
SecretStorage==3.3.1
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
svglib==1.5.1
systemd-python==234
tablib==3.8.0
text-unidecode==1.3
tinycss2==1.2.1
tinyhtml5==2.0.0
traitlets==5.14.3
types-python-dateutil==2.9.0.20241206
typing_extensions==4.10.0
tzdata==2023.4
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uritools==4.0.2
urllib3==2.2.1
usb-creator==0.3.7
uvicorn==0.34.0
vine==5.1.0
wadllib==1.3.6
wcwidth==0.2.13
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.9.0
xdg==5
xhtml2pdf==0.2.15
xkit==0.0.0
xlrd==2.0.1
xlsxwriter==3.2.5
xlwt==1.3.0
zipp==1.0.0
zopfli==0.2.3.post1
